@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
   
    margin: 0;
    padding: 0;
    font-family: Arial;
    background:url(coin.img/ethereum-logo-portrait-black-gray.png);
       background-size:cover;
    background-position: center;
}
nav.logo{
    padding: 22px 20px;
    height: 80px;
    float: left;
    font-size:24px;
    font-weight: bold;
    text-transform: uppercase;
    color: rgb(201, 238, 16);
}
section{
    width: 100%;
    height: 100vh;
    
 
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #000000
}

header {
    display:flex;
    justify-content: space-between;
    padding: 12px 50px;
    height: 80px;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
     box-shadow:2px 2px 8px rgba(0,0,0,0.70); 
    /* overflow: hidden; */
}
.logo {
    flex: 1;
}
.menu {
    flex: 3;
    display:flex;
}
.menu > li{
    padding: 0 12px;
    position: relative;

}
/* .menu >li:hover .sub-menu{
     visibility : visible; 
    top :30px;
    z-index: 10000;
    background-color : white !important;
    padding-right: 15px ;
}
.sub-menu {
    position: absolute;
    width: 150px;
    border: 1px solid #ccc;
    padding: 10px 0 10px 20px;
    visibility: hidden;
    top: 50px;
    transition: 0.3s;
}
.sub-menu ul {
    padding-left: 20px;
}
.sub-menu ul a{
    font-weight: normal !important;
    font-size:12px !important;
}
.sub-menu li a{
    font-weight :normal;
    font-size :12px!important;
    z-index: 1000;
} */
.menu  li  a{
    font-size: 18px;
    font-weight: bold!important;
    display: block; 
    line-height: 20px;
   
	text-transform: capitalize;
	/* color: #dcf311; */
	text-decoration: none;
	font-weight: 300;
	color:  #ba12d8;
	display: block;
	transition: all 0.3s ease;
}
.menu  li a:hover{
	color: #b0bf0b;
	padding-left: 8px;
}

.other{
    flex: 1;
    display:flex;
    


}
/* .other li a{
    margin-top: 18px;
    color:#ba12d8;
     margin-right:17px;


    
    
    
    
    
} */
.accoutandbtn fa fa-user,fa fa-shopping-bag{
    color:#ba12d8;
}

.accoutandbtn{
    display: flex;
   align-items: center;
   color: #8162CE;
}
.accoutandbtn li {
    padding: 10px;
    border-radius: 50px;
    transition: all 0.3s;
    margin-left: 10px;
    
}
.accoutandbtn li a {
color: #8162CE;
}

.accoutandbtn li:hover {
    background-color: rgb(255, 0, 179);
    
}

/* .other > li {
    padding: 0 12px !important;
}
.other > li:first-child {
    position: relative !important;
}
.other > li:first-child input {
    width: 100%;
    border: none;
    border-bottom: 1px #333;

}
.other > li:first-child i{
    position: absolute !important;
    right: 10px;
} */
/* .aspect-ratio-169 {
  display: block;
  position: relative;
  padding-top: 56.25%;
}

.aspect-ratio-169 iframe {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
} */
/* .container {
  width: 100%;
    padding-left: -15px;
    padding-right: -15px;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;

} */
.search-box{
  width: fit-content;
  height: fit-content;
  position: relative;
  z-index: 1000;
}
.input-search{
  height: 50px;
  width: 50px;
  border-style: none;
  padding: 10px;
  font-size: 18px;
  letter-spacing: 2px;
  outline: none;
  border-radius: 25px;
  transition: all .5s ease-in-out;
 
  padding-right: 40px;
  color:rgb(20, 4, 4);
}
.input-search::placeholder{
  color:rgba(33, 6, 6, 0.5);
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 100;
}
.btn-search{
  width: 50px;
  height: 50px;
  border-style: none;
  font-size: 20px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  right: 0px;
  color:#ba12d8 ;
  background-color:transparent;
  pointer-events: painted;  
}
.btn-search:focus ~ .input-search{
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom:1px solid rgba(21, 3, 3, 0.5);
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}
.input-search:focus{
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom:1px solid rgba(11, 3, 3, 0.5);
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}

/* .fa fa-user{
    justify-content: space-around;
    margin-right: 5px ;
    background-color: #dcf311;

} */

/* .slider {
    overflow: hidden;
    height: 500px;
    margin:auto;
    position: relative;
    left: 10%;
}

.tittle {
    margin: 80px 0;
}

.tittle h3 {
    text-align: center;
}

.tittle p {
    text-align: center;
}

.slider__images {
    overflow: hidden;
    height: 800px;
    width: 1400px;
    margin-left: 360px;
    overflow: hidden;
}

@-webkit-keyframes slide_animation {
    0% {
        left: 0px;
    }
    10% {
        left: 0px;
    }
    20% {
        left: 1200px;
    }
    30% {
        left: 1200px;
    }
    40% {
        left: 2400px;
    }
    50% {
        left: 2400px;
    }
    60% {
        left: 1200px;
    }
    70% {
        left: 1200px;
    }
    80% {
        left: 0px;
    }
    90% {
        left: 0px;
    }
    100% {
        left: 0px;
    }
}

.slider__images {
    width: 3600px;
    height: 500px;
    margin: 0 0 0 -2417px;
    position: relative;
    -webkit-animation-name: slide_animation;
    -webkit-animation-duration: 33s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-play-state: running;
    overflow: hidden;
}

.slider__img-container {
    height: 800px;
    width: 1200px;
    position: relative;
    float: left;
} */

#all-products {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    position:relative;
    width: auto;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr)) ;
}

.product--wrapper {
    margin: 20px;
}


.card{
    /* margin: 120px auto; */
    width: 320px;
    height: auto;
    background: #272d40;
    padding:20px;
    border-radius: 15px;
    color:#ffffff;
    position:relative;
}

.card form {
    margin: 20px 0;
}
.card_heart, .card_cart {
    font-size: 25px;
    position: absolute;
    right:20px;
    top: 15px;
    cursor: pointer;
}
.card_heart{
    left: unset;
    left: 20px;
}
.card_img{
    width: 90%;
    transition:0.5s
}
.card_img img{
    width: 100%;
    height:100%;
    object-fit:cover;
    border-radius: 15px;
}
.card_title, .card_price{
    font-family: "Ponpins";
    font-size:16px;
    font-weight: bold;
    text-align: center;
}
.card_title{
    color: var(--primary-color);
}
.card_size, .card_color{
    display:flex;
    align-items: center;
    font-size: 12px;
}
.card_size span{
    padding: 1px 5px;
    background:#dadada;
    color:black;
    border-radius: 5px;
    margin:0 2px;
    cursor:pointer;
}
.card_color span{
    width:12px;
    height: 12px;
    border-radius: 50%;
    margin:0 5px;
    cursor: pointer;
}
.card_color_green{
    background:green;

}
.card_color_red{
    background:red;


}
.card_color_blue{
    background:blue;

}
.card_action button{
    background: yellow;
    border: none;
    outline:none;
    color:white;
    padding:10px 20px;
    border-radius:50px;
    font-weight: bold;
    margin-right:5px;
    transition:0.25s;
    cursor: pointer;
}
.card_action button:hover{
    transform:scale(0.9);
}
.card:hover .card_img{
    transform: translateY(-90px) rotate(-20deg);
}
.card:hover .card_title,.card:hover .card_price{
    transform: translate(-38px,-72px)
}
.card_price{
    transform:translate(-18px,1px)
}
.card_size{
    margin-top: 150px;
}
.card_size,.card_color,.card_action{
    visibility: hidden;
    opacity: 0;
     transition: 0.5s;
     transition-delay: 0.4s;
}
.card:hover .card_size,
.card:hover .card_color,
.card:hover .card_action{
    visibility: visible;
    opacity:100;
}
.card:hover .card_size{
    margin-top: -30px;
}
.container{
	max-width: 1170px;
	margin:auto;
    overflow: hidden;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #000000;
    padding: 70px 0;
    width: auto;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #dcf311;
	text-decoration: none;
	font-weight: 300;
	color:  #ba12d8;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #dcf311;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ba12d8;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #dcf311;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}